.productos{
    width: 65%;
    margin: 0 auto;
    padding: 4em;
}
.productos li{
    background: white;
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 1.5% 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 5px 5px 5px  rgb(167, 166, 166);
}
.productos li:hover{
    border-color: #C78C19;
    box-shadow: 3px 3px 3px  #C78C19;
}
.productos li:active{
    border-color: #088c19;
    box-shadow: 3px 3px 3px  #088c19;
}
.productos h2{
    font-size: 1.7em;
    font-weight: bold;
}
.productos li:hover h2{
    font-size: 1.8em;
    font-weight: bold;
}
.productos li img{
    width: 100%;
}
.prod-desc{
    font-size: 1.2em;
}
.prod-pre{
    font-size: 1.6em;
    font-weight: bold;
    margin-top: 10px;
}
@media screen and (max-width:480px) {
    .productos{
        padding: 2em;
    }
    .productos li{
        background: white;
        display: inline-block;
        text-align: center;
        width: 45%;
        vertical-align: top;
        margin: 1.5% 0 0 3%;
        box-sizing: border-box;
        border-color: black;
        border-width: 2px;
        border-style: solid;
        border-radius: 20px;
        box-shadow: 5px 5px 5px  rgb(167, 166, 166);
    }
    .productos h2{
        font-size: 1.3em;
        font-weight: bold;
    }
    .prod-desc{
        font-size: 1em;
    }
    .prod-pre{
        font-size: 1.2em;
        font-weight: bold;
        margin-top: 10px;
    }
}